<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>



<h1>Get a drink</h1>


{{if .Uname}}
User name is:{{.Uname}}<br>
First name is:{{.Fname}}<br>
Last name is:{{.Lname}}</br>
{{end}}


</body>
</html>