<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style >
        div {
            display: inline-block;
            width: 320px;
            border: 5px solid gray;
            margin:0;
        }

    </style>

</head>
<body>

<table style="width:80%; margin:auto;" border = 4px>
    <tr>
        <td>
            <form style ="background-color:powderblue;" method="post" action="/insert">
                <h2><center>Insert Data</center></h2>
                <h4 style="color:red;">ID :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="empid" placeholder="ID"><br> </h4>
                <h4 style="color:red;">Name : <input type="text" name="name" placeholder="Full Name"> <br> </h4>
                <h4 style="color:red;">Mobile : <input type="text" name="mobile" placeholder="Position"> <br> </h4>
                <h4 style="color:red;">Address : <input type="text" name="address" placeholder="Position"> <br> </h4>
                <h4 style="color:red;">Position : <input type="text" name="position" placeholder="Position"> <br> </h4>
                <input type="submit" onclick= "alert('Record Inserted Successfully')">

            </form>
        </td>
        <td>
            <form style ="background-color:powderblue;" method="post" action="/getperson">
                <h2><center>Search Data</center></h2>
                <h4 style="color:red;">ID :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="empid" placeholder="ID"><br> </h4>
                <input type="submit">

            </form>
        </td>
    </tr>
    <tr>
        <td>
            <form style ="background-color: powderblue;" method="post" action="/update">
                <h2><center>Update Data</center></h2>
                <h4 style="color:red;">ID :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="empid" placeholder="ID"><br> </h4>
                <h4 style="color:red;">New Name : <input type="text" name="name" placeholder="New Name"> <br> </h4>
                <input type="submit" onclick= "alert('Data Updated Successfully')">
            </form>
        </td>
        <td>
            <form style ="background-color: powderblue;" method="post" action="/deleterec">
                <h2><center>Delete Data</center></h2>
                <h4 style="color:red;">ID :  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="empid" placeholder="ID"><br> </h4>
                <h4 style="color:red;">Name : <input type="text" name="name" placeholder="Full Name"> <br> </h4>
                <button onclick= "alert('Do you really want to delete the record?')">Submit</button>
            </form>
        </td>
    </tr>
</table>

<h1><a href="/logout">LOGOUT</a></h1>

</body>
</html>
