
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style >


    </style>

</head>
<body>
<table style="width:80%; margin:150px;" border = 4px >
    <tr>
        <td>
            <form style ="background-color:powderblue;" method="post">
                <h2><center>Admin Panel</center></h2>
                <h4 style="color:red;"><center>Username</center><br><center><input type="email" name="email" id="email" placeholder="Enter Username"></center> </h4>
                <h4 style="color:red;"><center>Password</center><br><center><input type="password" name="password" id="password" placeholder="Enter your password"></center></h4>

                <center><input type="submit" value = "Login" id="button"></center>

            </form>
        </td>

</table>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
    $('#button').click(function(){
        var email =$('#email').val();
        var password =$('#password').val();

        $.get('file2.go', {input1: email , input2: password} , function(token){
            //$('#feedback').text(token);
            var token1 =token

        });

    });
</script>

<h1><a href="/resource">Access Resources</a></h1>

<h1><a href="/signup">Signup</a></h1>
</body>
</html>
