<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>




<form method="post">

    <input type="email" name="email" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="submit">

</form>

<h1><a href="/resource">Access Resources</a></h1>

<h1><a href="/signup">Signup</a></h1>
</body>
</html>