
	    <!DOCTYPE html>
	    <html lang="eu">
	    <head>
	    <meta charset="UTF-8">
	    </head>
	    <body>
	    <h1>
	    {{range .Bike1}}
	    </li>{{.Name}} -  - {{.Model}}</li>
	    {{end}}
	    </h1>
	    <h2>
	    {{range .Car1}}
        </li>{{.Name}} - {{.Model}}</li>
        {{end}}
	    </h2>
        </body>
        </html>
	 