
	    <!DOCTYPE html>
	    <html lang="eu">
	    <head>
	    <meta charset="UTF-8">
	    </head>
	    <body>
        <p1>
        {{range .}}
         {{.Name}} -- {{.Age}} -- After 2 years {{.Agedbl | .Square}}
         {{end}}
         </p1>
        </body>
        </html>
	 