
	    <!DOCTYPE html>
	    <html lang="eu">
	    <head>
	    <meta charset="UTF-8">
	    </head>
	    <body>
	    <h1>{{range $i , $el :=.}}
            <li>{{$i}} -- {{$el}}</li>
                {{end}}
        </h1>
        </body>
        </html>
	 