
	    <!DOCTYPE html>
	    <html lang="eu">
	    <head>
	    <meta charset="UTF-8">
	    </head>
	    <body>
	    <h1>

        <li>{{. | sq}}</li>
	    </li>{{. | sq | div2}}</li>

	    </h1>
        </body>
        </html>
	 