<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>




<form method="POST" action="/bar">
    <label>First Name</label>
    <input type="text" id="firstName" name="first">
    <br>

    <input type="submit">
</form>


<h1>End of HTML page</h1>
</body>
</html>