<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>




<form method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    <br>
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="first">
    <br>
    <label for="lastname">Last Name</label>
    <input type="text" id="lastName" name="last">
    <br>
    <input type="submit">
</form>

<br>


{{if .Uname}}
User name is:{{.Uname}}<br>
First name is:{{.Fname}}<br>
Last name is:{{.Lname}}</br>
{{end}}


<h1><a href="/bar">Go to bar</h1>
</body>
</html>