<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>




<form method="post">

    <input type="email" name="email" placeholder="email"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="first" placeholder="first"><br>
    <input type="text" name="last" placeholder="last"><br>
    <input type="submit">

</form>



<h1><a href="/login">Go to Login</a></h1>
</body>
</html>